<div class="BooksWrapper__container __container">
    <div class="BooksWrapper__categories bw-categories">
        <ul class="bw-categories__list">
            <li class="bw-categories__item bw-categories__item--active">
                Architecture
            </li>
            <li class="bw-categories__item">Art & Fashion</li>
            <li class="bw-categories__item">Biography</li>
            <li class="bw-categories__item">Business</li>
            <li class="bw-categories__item">Crafts & Hobbies</li>
            <li class="bw-categories__item">Drama</li>
            <li class="bw-categories__item">Fiction</li>
            <li class="bw-categories__item">Food & Drink</li>
            <li class="bw-categories__item">Health & Wellbeing</li>
            <li class="bw-categories__item">History & Politics</li>
            <li class="bw-categories__item">Humor</li>
            <li class="bw-categories__item">Poetry</li>
            <li class="bw-categories__item">Psychology</li>
            <li class="bw-categories__item">Science</li>
            <li class="bw-categories__item">Technology</li>
            <li class="bw-categories__item">Travel & Maps</li>
        </ul>
    </div>
    <div class="BooksWrapper__books"></div>
</div>
