<div class="header__container __container">
    <div class="header__logo-wrapp">
        <img src="/public/assets/images/book3shoop_logo.png" alt="BooK3shoop" />
    </div>
    <div class="header__nav-wrapp">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a
                        class="header__nav-link header__nav-link--active"
                        href="#"
                        >BOOKS</a
                    >
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">AUDIOBOOKS</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">STATIONERY & GIFTS</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">BLOG</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__activity-wrapp">
        <ul class="header__activity-list">
            <li class="header__activity-item">
                <a class="header__activity-link" href="#"
                    ><img src="/public/assets/icons/user.svg" alt="profile"
                /></a>
            </li>
            <li class="header__activity-item">
                <a class="header__activity-link" href="#"
                    ><img src="/public/assets/icons/search.svg" alt="search"
                /></a>
            </li>
            <li class="header__activity-item">
                <a class="header__activity-link" href="#"
                    ><img src="/public/assets/icons/shop-bag.svg" alt="goods"
                /></a>
                <span id="goods">0</span>
            </li>
        </ul>
    </div>
</div>
