// Header.module.scss
@use '../../styles/variables.scss';
.header {
    &__container {
        padding: 15px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo-wrapp {
        transition: all 0.35s;
        cursor: pointer;
        &:hover {
            transition: all 0.35s;
            transform: translateY(5px);
            opacity: 0.8;
        }
        img {
            max-width: 200px;
            @media (width <= 767px) {
                max-width: 100px;
            }
        }
    }
    &__nav-wrapp {
        @media (width <= 767px) {
            position: absolute;
            top: 37px;
        }
        ul {
            display: flex;
            li {
                position: relative;
                &::after {
                    transition: width 0.35s ease-in-out;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: variables.$red-primary;
                    width: 0%;
                    height: 1.4px;
                }
                &:hover::after {
                    transition: width 0.35s ease-in-out;
                    width: 100%;
                }
            }
            li:not(:last-child) {
                margin-right: 40px;
                @media (width <= 767px) {
                    margin-right: 20px;
                }
            }
        }
    }
    &__nav-link {
        text-decoration: none;
        color: variables.$text-grey;
        font-size: 10px;
        font-weight: 700;
    }
    &__nav-link--active {
        font-weight: 900;
        color: variables.$text-light-black;
    }
    &__activity-list {
        display: flex;
        align-items: center;
        li {
            position: relative;
            transition: all 0.35s;
        }
        li:hover {
            background-color: #43414138;
            transition: all 0.35s;
            opacity: 0.8;
        }
        li:not(:last-child) {
            margin-right: 15px;
        }
    }
    &__activity-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}
#goods {
    background-color: variables.$red-primary;
    color: variables.$bg-category;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
